<div class="container w-50 mt-5">
    <form class="form-inline my-5 my-lg-0">
        <input class="form-control mr-sm-5" type="search" placeholder="Search" aria-label="Search">

        
       <button class="btn btn-outline-secondary my-2 my-sm-2" type="submit"> Search </button>
        
    </form>
</div>