<%- layout('layouts/boilerplate') %> 
<div class="row">
    <h1 class="text-center">Add club</h1>
    <div class="col-6 offset-3">
        <form action="/clubs" class="validated-form" method="post" enctype="application/x-www-form-urlencoded" novalidate>
          <div class="mb-3">
            <label class="form-label" for="name">Club name</label>
            <input class="form-control" type="text" name="club[clubName]" id="name" required/>
            <div class="invalid-feedback">
              Required
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="institute">Institute</label>
            <input class="form-control" type="text" name="club[institute]" id="institute" required/>
            <div class="invalid-feedback">
              Required
            </div>
          </div>
          <!-- <div class="mb-3">
            <label for="image" class="form-label">Add images</label>
            <input name="image" class="form-control" type="file" id="image" multiple>
          </div> -->
          <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control" type="text" name="club[description]" id="description" required></textarea>
            <div class="invalid-feedback">
              Required
            </div>
          </div>
          <div class="mb-3">
              <button class="btn btn-success" type="submit">Create</button>
          </div>
        </form>
        <!-- <a href="/campgrounds">All campgrounds</a> -->
    </div>
</div>